doctype html
html(lang="en")
head
  include head.jade
  script(type="text/javascript")  var trend = !{JSON.stringify(byyear)}; var trend2 = !{JSON.stringify(bypcd)}; 
  script(type="text/javascript", src="//www.google.com/jsapi")
  script(src="/js/graph.js")

body
  include nav.jade

  div.container
    div.header
      h1 House price analysis for #{postcode}
    
    
    if stats 
      div.row
        div.col-lg-4 
          div.alert.alert-success.headline House prices in #{pcd} have risen by #{stats.factor}% since 1995
        div.col-lg-4 
          div.alert.alert-info.headline That's a profit of £#{stats.profit}, or £#{stats.profit_real_terms}, in real terms
        div.col-lg-4 
          div.alert.alert-warning.headline #{stats.num_sales} houses have sold in #{postcode} in the last 20 years
    
    if bypostcode && bypostcode.length>0    
      table.table
        tr
          th Date
          th Price
          th #
          th Street
          th Town
        each address in bypostcode
          tr
            td=address.doc.date
            td=address.doc.price
            td=address.doc.paon
            td=address.doc.street
            td=address.doc.town
      hr
          
    if bypcd.length>1
      div.row
        div.col-lg-12
          h2 Trend #{pcd} vs national average                      
 
      div.row
        div.col-lg-12
          div#chart_div2(width="100%")
          
      script(type="text/javascript") drawChart();
    else
      h3 Cannot find any data for #{pcd}  
 
    div.footer
      div All data imported from http://data.gov.uk/ and stored in Cloudant.

      
